<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logobasic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logobasic"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnergyAppJava"
        tools:targetApi="31">
        <activity
            android:name=".Views.IndexActivity"
            android:exported="false"
            android:label="IndexActivity"
            android:theme="@style/Theme.EnergyAppJava" />
        <activity
            android:name=".Views.userPages.RegisterActivity"
            android:exported="false"
            android:label="RegisterActivity"
            android:theme="@style/Theme.EnergyAppJava" />

        <activity
            android:name=".Views.userPages.MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.EnergyAppJava" />

        <activity
            android:name=".Views.StoreActivity"
            android:exported="false"
            android:label="StoreActivity"
            android:theme="@style/Theme.EnergyAppJava" />

        <activity
            android:name=".Views.StartActivity"
            android:exported="false"
            android:label="MeasureActivity"
            android:theme="@style/Theme.EnergyAppJava" />

        <activity
            android:name=".Views.ConsumeActivity"
            android:exported="false"
            android:label="FolderActivity"
            android:theme="@style/Theme.EnergyAppJava" />

        <activity
            android:name=".Views.userPages.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.EnergyAppJava">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>